footer {
    background-color: rgba(255,255,255,0.7);
    clear: both;
    display:block;
    font-family: "Helvetica Neue", "Helvetica", "Arial";
    font-size: 1.1rem;
    font-weight: 200;
    margin: 72px auto auto;
    padding: 10px 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 3;
    transform:translateZ(1px);

    a {
        color: black;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid black;
        }
    }

    span {
        display: block;
        font-weight: bold;

        @include desktop() {
            display: inline;
        }
    }

    @include desktop() {
        width: 80%;
    }
}
