@keyframes navopening {
    from { margin-top: -101%}
    to   { margin-top: 0;}
}

@keyframes navclosing {
    from { margin-top: 0;}
    to   { margin-top: -101%;}
}

nav {
    display: block;
    position: absolute;
    z-index: 12;
    padding-top: 30px;
    border-bottom: 5px solid red;
    background-color:white;
    width: 100%;
    margin-top: -101%;

    ul {
        margin-left: 0;
        padding: 0;

        li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            display: block;

            a {
                display: block;
                padding-left: 10px;
                color: rgba(0,0,0,0.7);
                font-weight: 300;
                font-family: Helvetica Neue;
                font-size: 2rem;
                line-height: 4rem;
                border-left: 5px solid transparent;
                text-decoration: none;
                min-width: 300px;

                &:hover {
                    border-left: 5px solid red;
                    color: rgba(0,0,0,1);
                    cursor: pointer;
                }
            }
        }
    }

    &.nav_open {
        animation: navopening 0.5s;
        margin-top: 0;

        @include desktop() {
            margin-top: 0;
        }
    }

    &.nav_closed {
        animation: navclosing 0.5s;
        margin-top: -101%;

        @include desktop() {
            margin-top: 0;
        }
    }

    @include desktop() {
        float: left;
        background-color: transparent;
        border-bottom: 0;
        margin-right: 20px;
        margin-top: 0;
        width: initial;
        padding-top: 440px;
    }
}

.menu_button {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    border: 1px solid white;
    z-index: 100;

    &.menu_close {
        background-color: cornflowerblue;

        &:hover {
            background-color: royalblue;
        }

        .menu_open_text {
            display: none;
        }

        .menu_close_text {
            display: block;
        }
    }

    &.menu_open {
        background-color: #228b22;

        &:hover {
            background-color: darkgreen;
        }

        .menu_open_text {
            display: block;
        }

        .menu_close_text {
            display: none;
        }
    }

    .menu_text {
        display: block;
        margin: auto;
        line-height: 50px;
        font-size: 50px;
        font-family: "helvetica neue";
        color:white;
    }

    @include desktop() {
        display: none;
    }
}
