.page-background {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.page-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: fixed;
}

.page-background--alan {
    background-image: url('/image/alan.png');
}

.page-background--buddy {
    background-image: url('/image/buddy.png');
}

.page-background--cards {
    background-image: url('/image/cards.png');
}

.page-background--balloons {
    background-image: url('/image/balloons.png');
}

.page-background--demo {
    background-image: url('/image/demo.png');
}